footer {
  width: 100vw;
  height: 100px;
  background-color: rgb(56, 54, 58);
  padding: 22px 97px;
}
footer .footer-rights {
  text-align: center;
  color: white;
  margin: 15px 0px;
}
footer .footer-rights span {
  height: 100px;
}