.visible-none {
  display: none;
}

footer {
  width: 100vw;
  background-color: rgb(192, 192, 213);
  box-shadow: 1px 1px 1px 1px rgba(177, 161, 161, 0.5019607843);
  padding: 22px 97px;
}
footer .footer-rights {
  text-align: center;
  color: white;
  margin: 15px 0px;
}
footer .footer-rights span {
  height: 100px;
}

@media (max-width: 1000px) {
  footer {
    margin-bottom: 80px;
  }
}
@media (max-width: 450px) {
  footer {
    margin-bottom: 60px;
  }
}