#header-container {
  display: flex;
  width: 100px;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgb(192, 192, 213);
  box-shadow: 1px 1px 1px 1px rgba(177, 161, 161, 0.5019607843);
  border-right: 3px solid rgb(255, 255, 255);
}
#header-container .header-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#header-container .header-nav div {
  width: 86px;
  height: 110px;
  color: white;
  margin: 0px 5px;
  display: flex;
  justify-content: center;
}
#header-container .header-nav div a {
  color: white;
  position: relative;
}
#header-container .header-nav div a .icon {
  font-size: 50px;
}
#header-container .header-nav div a:hover {
  color: black;
  transition-duration: 0.3s;
}
#header-container .header-nav div a:hover::before {
  position: absolute;
  content: "";
  top: 60px;
  left: 0;
  width: 90%;
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  padding: 5px 0px;
  color: white;
  z-index: 99;
  text-align: center;
  font-size: 12px;
}
#header-container .header-nav div a:hover::after {
  content: "";
  top: 50px;
  left: 20px;
  border: 5px solid transparent;
  border-bottom: 5px solid white;
  z-index: 99;
  position: absolute;
}
#header-container .header-nav div a::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
#header-container .header-nav div:nth-child(1) a:hover::before {
  content: "Back";
  top: 30px;
  right: 20px;
  width: 100%;
}
#header-container .header-nav div:nth-child(1) a:hover::after {
  top: 20px;
  left: 20px;
}
#header-container .header-nav div:nth-child(2) a:hover::before {
  content: "Home";
}
#header-container .header-nav div:nth-child(3) a:hover::before {
  content: "About Me";
}
#header-container .header-nav div:nth-child(4) a:hover::before {
  content: "Projects";
}
#header-container .header-nav div:nth-child(5) a:hover::before {
  content: "Contact";
}
#header-container .header-nav div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
#header-container .return--projects {
  display: none;
  position: absolute;
  top: 50px;
  left: 22px;
  z-index: 99;
  width: 50px !important;
  height: 120px !important;
}