body {
  cursor: none;
}

#cursor {
  position: absolute;
  background-color: rgba(194, 193, 194, 0.219);
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  mix-blend-mode: difference;
  border-radius: 45px;
  border: 1px solid rgb(95, 94, 94);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.8s;
  z-index: 9999;
}

#main-container {
  margin-left: 103px;
  background-color: white;
}
#main-container #home {
  height: 100vh;
  display: flex;
  padding: 0px 0px 150px 30px;
  width: 100%;
  justify-content: space-around;
  background-color: rgb(230, 230, 230);
  position: relative;
}
#main-container #home .home--title {
  font-size: 120px;
  padding-top: 120px;
  color: rgb(192, 192, 213);
  font-weight: bold;
  text-shadow: 0 1px 0 #777, 0 -1px 0 #000;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#main-container #home .home--intro {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  font-size: 25px;
  padding-bottom: 101px;
  color: rgb(151, 134, 158);
}
#main-container #home canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
#main-container #introduce {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
#main-container #introduce h1 {
  font-size: 55px;
  margin: 30px 0px 10px 0px;
  position: relative;
}
#main-container #introduce h1::after {
  position: absolute;
  border: 1px solid black;
  content: "";
  width: 100%;
  top: 36px;
  margin-left: 40px;
}
#main-container #introduce span {
  font-size: 27px;
  font-weight: bold;
  padding: 3px 0px;
}
#main-container #introduce .about-me span, #main-container #introduce .certificate span, #main-container #introduce .skill span {
  display: table;
  color: black;
}
#main-container #introduce .skill-front div:nth-of-type(1),
#main-container #introduce .skill-back div:nth-of-type(1),
#main-container #introduce .skill-etc div:nth-of-type(1) {
  font-size: 38px;
  font-weight: bold;
  display: flex;
  color: rgb(83, 83, 83);
  margin-right: 15px;
  margin-bottom: 15px;
}
#main-container #introduce .skill-front div:nth-of-type(2),
#main-container #introduce .skill-back div:nth-of-type(2),
#main-container #introduce .skill-etc div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#main-container #introduce .skill-front div:nth-of-type(2) svg,
#main-container #introduce .skill-back div:nth-of-type(2) svg,
#main-container #introduce .skill-etc div:nth-of-type(2) svg {
  margin-right: 10px;
}
#main-container #introduce .skill-front div:nth-of-type(2) span,
#main-container #introduce .skill-back div:nth-of-type(2) span,
#main-container #introduce .skill-etc div:nth-of-type(2) span {
  margin: 0 15px 15px 0px;
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 10px;
  align-items: center;
}
#main-container #project {
  margin: 80px 0px;
  padding-left: 30px;
}
#main-container #project h1 {
  font-size: 55px;
  margin: 30px 0px 10px 0px;
  position: relative;
}
#main-container #project h1::after {
  position: absolute;
  border: 1px solid black;
  content: "";
  width: 100%;
  top: 36px;
  margin-left: 40px;
}
#main-container #project .project-nav button {
  margin: 30px 5px;
  background-color: white;
  font-size: 30px;
  font-weight: bold;
  width: 200px;
  height: 60px;
}
#main-container #project .project-nav button:focus {
  background-color: rgb(26, 25, 25);
  color: white;
}
#main-container #project .project-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: visible;
  transform: perspective(1000px);
  transition: all 0.1s;
  padding: 10px 5px;
}
#main-container #project .project-content .project-content--link {
  width: 400px;
  height: 300px;
  background-color: whitesmoke;
  margin: 5px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  overflow: visible;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
}
#main-container #project .project-content .project-content--link .project--imgBox {
  width: 90%;
  height: 70%;
  margin: auto;
  overflow: hidden;
  margin-top: 7px;
}
#main-container #project .project-content .project-content--link .project--imgBox img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
#main-container #project .project-content .project-content--link span {
  font-size: 25px;
  font-weight: bold;
  height: 30%;
  padding: 0px 20px;
  text-align: center;
  line-height: 84px;
  color: black;
}
#main-container #project .project-content .project-content--link:hover {
  border: none;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  overflow: hidden;
}
#main-container #project .project-content .project-content--link:hover img {
  transform: scale(1.05);
  transition-duration: 0.5s;
}
#main-container #project .project-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#project > div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

#contact {
  height: 500px;
  padding-left: 30px;
}
#contact h1 {
  font-size: 55px;
  margin: 30px 0px 10px 0px;
  position: relative;
}
#contact h1::after {
  position: absolute;
  border: 1px solid black;
  content: "";
  width: 100%;
  top: 36px;
  margin-left: 40px;
}
#contact .contact--list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#contact .contact--list .contact--flip {
  width: 300px;
  height: 300px;
  perspective: 1200px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 30px;
  margin-left: 20px;
  overflow: visible;
}
#contact .contact--list .contact--flip .contact--card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}
#contact .contact--list .contact--flip .contact--card .card--front,
#contact .contact--list .contact--flip .contact--card .card--back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#contact .contact--list .contact--flip .contact--card .card--front {
  background: linear-gradient(45deg, #f3f5f0 50%, rgb(227, 227, 245) 50%);
  z-index: 2;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .contact--list .contact--flip .contact--card .card--back {
  transform: rotateY(180deg);
  background: linear-gradient(45deg, #f3f5f0 50%, rgb(227, 227, 245) 50%);
}
#contact .contact--list .contact--flip .contact--card .card--back a {
  font-size: 80px;
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact .contact--list .contact--flip .contact--card .card--back a p {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
#contact .contact--list .contact--flip .contact--card .card--back a:hover p {
  color: rgb(106, 106, 122);
}
#contact .contact--list .contact--flip .contact--card .contact--email {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .contact--list .contact--flip:hover .contact--card {
  transform: rotateY(180deg);
}
#contact .contact--list .contact--flip:hover .card--front {
  z-index: 0;
}

/***************** project hover event!!! ************************/
#project--component--container {
  display: inline-block;
}

.project--click--content--effect {
  transition: transform 0.5s;
  display: inline-block;
  animation-name: cardhover;
  animation-duration: 0.5s;
  perspective: 300px;
}

@keyframes cardhover {
  50% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}