body {
  cursor: none;
}

#cursor {
  position: absolute;
  background-color: rgba(77, 49, 18, 0.4);
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 45px;
  border: 1px solid rgb(255, 186, 186);
  z-index: 2;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

#main-container {
  margin-left: 103px;
}
#main-container header {
  width: 100vw;
  height: 100vh;
  width: calc(100vw - 103px);
  font-size: 100px;
  color: red;
  font-weight: bold;
  background-color: aliceblue;
}
#main-container #introduce {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
#main-container #introduce h1 {
  font-size: 55px;
  margin: 30px 0px 10px 0px;
  position: relative;
}
#main-container #introduce h1::after {
  position: absolute;
  border: 1px solid black;
  content: "";
  width: 100%;
  top: 36px;
  margin-left: 40px;
}
#main-container #introduce span {
  font-size: 27px;
  font-weight: bold;
  padding: 3px 0px;
}
#main-container #introduce span {
  display: inline-flex;
}
#main-container #introduce .about-me, #main-container #introduce .certificate, #main-container #introduce .skill {
  display: flex;
  flex-direction: column;
}
#main-container #introduce .skill-front div:nth-of-type(1),
#main-container #introduce .skill-back div:nth-of-type(1),
#main-container #introduce .skill-etc div:nth-of-type(1) {
  font-size: 38px;
  font-weight: bold;
  display: flex;
  color: rgb(83, 83, 83);
  margin-right: 15px;
  margin-bottom: 15px;
}
#main-container #introduce .skill-front div:nth-of-type(2),
#main-container #introduce .skill-back div:nth-of-type(2),
#main-container #introduce .skill-etc div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#main-container #introduce .skill-front div:nth-of-type(2) svg,
#main-container #introduce .skill-back div:nth-of-type(2) svg,
#main-container #introduce .skill-etc div:nth-of-type(2) svg {
  margin-right: 10px;
}
#main-container #introduce .skill-front div:nth-of-type(2) span,
#main-container #introduce .skill-back div:nth-of-type(2) span,
#main-container #introduce .skill-etc div:nth-of-type(2) span {
  margin: 0 15px 15px 0px;
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 10px;
}
#main-container #introduce span:hover #cursor {
  transform: scale(5);
}
#main-container #introduce span:hover {
  color: red;
}
#main-container #project {
  margin: 80px 0px;
  padding-left: 30px;
}
#main-container #project h1 {
  font-size: 55px;
  margin: 30px 0px 10px 0px;
  position: relative;
}
#main-container #project h1::after {
  position: absolute;
  border: 1px solid black;
  content: "";
  width: 100%;
  top: 36px;
  margin-left: 40px;
}
#main-container #project .project-nav button {
  margin: 30px 5px;
  background-color: white;
  font-size: 30px;
  font-weight: bold;
  width: 200px;
  height: 60px;
  cursor: pointer;
}
#main-container #project .project-nav button:focus {
  background-color: rgb(26, 25, 25);
  color: white;
}
#main-container #project .project-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#main-container #project .project-content .project-content--link {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  background-color: rgb(56, 54, 58);
  margin: 5px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
#main-container #project .project-content .project-content--link img {
  width: 90%;
  margin: auto;
  height: 70%;
  background-color: antiquewhite;
  cursor: pointer;
}
#main-container #project .project-content .project-content--link span {
  font-size: 25px;
  font-weight: bold;
  height: 30%;
  padding: 0px 20px;
  text-align: center;
  line-height: 84px;
  color: white;
}