.visible-none {
  display: none;
}

#noorida-component img {
  width: 45%;
  border: 1px solid gray;
}
#noorida-component .noorida-func {
  margin-left: 30px;
  margin-bottom: 20px;
}
#noorida-component .noorida-func div {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
#noorida-component .noorida-func div span {
  display: block;
}
#noorida-component .noorida-func div > span:nth-of-type(2) {
  margin-left: 10px;
}
#noorida-component .noorida-func .noorida-func--title {
  font-weight: bold;
}
#noorida-component .noorida-content > div {
  margin: 10px 0px 40px;
}
#noorida-component .noorida-content > div:nth-of-type(4) img {
  width: 30%;
}
#noorida-component .noorida-content > div:nth-of-type(4) div,
#noorida-component .noorida-content > div:nth-of-type(5) div {
  font-size: 16px;
  font-weight: bold;
}

/**************************************************/
@media (max-width: 1000px) {
  #noorida-component img {
    width: 90%;
  }
}
@media (max-width: 740px) {
  #noorida-component .noorida-func div > span:nth-of-type(2) {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  #noorida-component .noorida-func {
    margin-left: 12px;
  }
  #noorida-component .noorida-content > div:nth-of-type(4) img {
    width: 80%;
  }
}