.visible-none {
  display: none;
}

.project-petboard h1 {
  margin: 30px;
}
.project-petboard p {
  margin: 5px 10px;
  line-height: 40px;
}
.project-petboard hr {
  margin-top: 80px;
}
.project-petboard strong {
  color: red;
}
.project-petboard img {
  width: 100%;
  margin: 10px 5px;
  border: 1px solid black;
}
.project-petboard .gray-color {
  color: gray;
  font-size: 24px;
  margin-left: 50px;
}
.project-petboard .pet--login {
  display: flex;
  flex-direction: row;
}
.project-petboard .pet--login div {
  display: flex;
  flex-direction: column;
}
.project-petboard .pet--login div img {
  margin-bottom: 40px;
}
.project-petboard .pet--register {
  display: flex;
  flex-direction: row;
}
.project-petboard .pet--register p {
  margin-left: 30px;
}
.project-petboard .pet--homeQA {
  display: flex;
  flex-direction: row;
}
.project-petboard .pet--homeQA div {
  display: flex;
  flex-direction: column;
}
.project-petboard .pet--create {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.project-petboard .pet--create div:first-child {
  display: flex;
  flex-direction: row;
}
.project-petboard .pet--create div:last-child {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 20px;
  margin: auto;
  padding: 25px;
  width: 90%;
}
.project-petboard .pet--create div:last-child p {
  font-size: 23px;
}
.project-petboard .pet--create-comment {
  display: flex;
  flex-direction: column;
}
.project-petboard .pet--create-comment div {
  display: flex;
  flex-direction: row;
}
.project-petboard .pet--detail-comment {
  display: flex;
  flex-direction: row;
}
.project-petboard .pet--detail-comment img {
  width: 60%;
}
.project-petboard .pet--modify {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  margin: 50;
  justify-items: center;
  text-align: center;
}
.project-petboard .pet--modify span {
  font-size: 25px;
  font-weight: bold;
}
.project-petboard .pet--modify .pet--modify--item5 {
  grid-row: 2/4;
  grid-column: 2;
}
.project-petboard .pet--modify .pet--modify--item6 {
  grid-row: 2/4;
  grid-column: 3;
}
.project-petboard .pet--modify .pet--modify--item8 {
  grid-column: 1/-1;
  text-align: start;
}
.project-petboard .pet--modify .pet--modify--item8 p:nth-child(1),
.project-petboard .pet--modify .pet--modify--item8 p:nth-child(3) {
  font-weight: bold;
}
.project-petboard .pet--delete div {
  display: flex;
  flex-direction: row;
}
.project-petboard .pet--menu {
  display: flex;
  flex-direction: column;
}
.project-petboard .pet--menu div {
  height: 880px;
  position: relative;
}
.project-petboard .pet--menu div img {
  width: 80%;
}
.project-petboard .pet--menu div img:nth-child(2) {
  position: absolute;
  width: 80%;
  top: 203px;
  right: 0;
}
.project-petboard .pet--change {
  display: flex;
  flex-direction: column;
}
.project-petboard .pet--change div {
  display: flex;
  flex-direction: row;
}
.project-petboard .pet--myWrite {
  display: flex;
  flex-direction: column;
}
.project-petboard .pet--myWrite div {
  height: 1230px;
  position: relative;
}
.project-petboard .pet--myWrite div img {
  width: 70%;
}
.project-petboard .pet--myWrite div img:nth-child(2) {
  position: absolute;
  width: 70%;
  top: 433px;
  right: 0;
}
.project-petboard .pet--myLike {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

@media (max-width: 1000px) {
  .project-petboard h1 {
    margin: 10px;
  }
  .project-petboard p {
    font-size: 18px;
    margin: 0px 10px;
    line-height: normal;
  }
  .project-petboard img {
    width: 90%;
    margin: 0px 2px;
  }
  .project-petboard .pet--modify {
    grid-gap: 0px;
  }
  .project-petboard .pet--modify span {
    font-size: 20px;
  }
  .project-petboard .pet--menu div {
    height: 556px;
  }
  .project-petboard .pet--myWrite div {
    height: 820px;
  }
}
@media (max-width: 740px) {
  .project-petboard img {
    width: 90%;
  }
  .project-petboard .gray-color {
    font-size: 18px;
    margin: 6px 0px 6px 50px;
  }
  .project-petboard .pet--login {
    display: block;
  }
  .project-petboard .pet--login div {
    display: block;
  }
  .project-petboard .pet--register {
    display: block;
  }
  .project-petboard .pet--homeQA {
    display: block;
  }
  .project-petboard .pet--create div:first-child {
    display: block;
  }
  .project-petboard .pet--create div:last-child {
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
  }
  .project-petboard .pet--create div:last-child p {
    font-size: 18px;
  }
  .project-petboard .pet--create-comment div {
    display: block;
  }
  .project-petboard .pet--detail-comment {
    display: block;
  }
  .project-petboard .pet--modify {
    display: block;
  }
  .project-petboard .pet--modify div {
    margin-bottom: 15px;
  }
  .project-petboard .pet--modify span {
    font-size: 18px;
  }
  .project-petboard .pet--delete div {
    display: block;
  }
  .project-petboard .pet--menu div {
    height: auto;
    position: static;
  }
  .project-petboard .pet--menu div img {
    width: 90%;
  }
  .project-petboard .pet--menu div img:nth-child(2) {
    position: static;
    width: 90%;
  }
  .project-petboard .pet--change div {
    display: block;
  }
  .project-petboard .pet--myWrite div {
    height: auto;
    position: static;
  }
  .project-petboard .pet--myWrite div img {
    width: 90%;
  }
  .project-petboard .pet--myWrite div img:nth-child(2) {
    width: 90%;
    position: static;
  }
}
@media (max-width: 450px) {
  .project-petboard .gray-color {
    margin: 6px 19px;
  }
  .project-petboard .pet--register p {
    margin-left: 0px;
  }
  .project-petboard .pet--create div:last-child p {
    font-size: 16px;
  }
  .project-petboard .pet--detail-comment img {
    width: 88%;
  }
}