
// 변수 

// $main-color : rgb(11, 0, 19);
$main-color :rgb(56, 54, 58);


//     background-color: rgb(192 192 213);
// 색 이쁜데 이런느낌으로 main-color 바꿀까..! 고민!
//box-shadow: 1px 1px 1px 1px #b1a1a180;



// mixin

@mixin pageSize{
    // width: 100vw;
    height: 100vh;
}

@mixin flex-col{
    display: flex;
    flex-direction: column;
}
@mixin flex-row{
    display: flex;
    flex-direction: row;
}
  
@mixin h1-horizontal{
    h1{
        font-size: 55px;
        margin: 30px 0px 10px 0px;
        position: relative;
      }
      h1::after{
        position: absolute;
        border: 1px solid black;
        content:'';
        width: 100%;
        top: 36px;
        margin-left: 40px;
        // transition-duration: width 3s;
      }
}

// project content -- go to git btn
@mixin goGithub{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px 0px;
    button{
        width: 200px;
        height: 100px;
        font-size: 20px;
        border-radius: 6px;
        background-color: transparent;
       
        a{
            text-decoration: none;
            color: black;
        }
    }

    button:hover{
        background-color: black;
        border: 1px solid white;
        transition-duration: 0.3s;
        a{
            color: white;
        }
    }
}