
body{
  cursor: none;
}


#cursor{
  position: absolute;

  background-color: rgb(187, 141, 185);

  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  mix-blend-mode: difference;
  border-radius: 45px;
  border: 1px solid rgb(189, 164, 164);
  z-index: 2;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.2s;

  // transition-property: scale;
  // transform: scale(1);
  // transition: scale ease-in 2s;
  
}



#cursor::before{
  // position: absolute;
  // background-color: red;
  // width: 30px;
  // height: 30px;
}
#cursor {
  
}

