
body{
  cursor: none;
}


#cursor{
  position: absolute;

  background-color: rgba(194, 193, 194, 0.219);

  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  mix-blend-mode: difference;
  border-radius: 45px;
  border: 1px solid rgb(95, 94, 94);
  // z-index: 2;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.8s;
  z-index: 9999;
  // transition-property: scale;
  // transform: scale(1);
  // transition: scale ease-in 2s;
  color: rgb(196, 0, 0);
}



#cursor::before{
  // position: absolute;
  // background-color: red;
  // width: 30px;
  // height: 30px;
}
#cursor {
  
}

