@import "_variables";

#header-container{
    display: flex;

    width: 100px;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: $main-color;
    border-right: 3px solid rgb(255, 255, 255);

        .header-nav{
            @include flex-col;
            justify-content: center;
            position: relative;
            div{
                width: 86px;
                height: 110px; 
                color: white;
                margin: 0px 5px;
                display: flex;
                justify-content: center;

               
                a{
                    color: white;
                    position: relative;
                    .icon{
                        font-size: 50px
                   }
                }

                a:hover{
                    color: black;
                    transition-duration: 0.3s;
                }
                a:hover::before{
                    position: absolute;
                    content: '';
                    top: 60px;
                    left: 0;
                    width: 90%;
                    border: 2px solid white;
                    border-radius: 5px;
                    background-color: transparent;
                    padding: 5px 0px;
                    color: white;
                    z-index: 99;
                    text-align: center;
                    font-size: 12px;
                    // line-height: -10px;
                }
                a:hover::after{
                    content:'';
                    top: 50px;
                    left: 20px;

                    border: 5px solid transparent;
                    border-bottom: 5px solid white;
                    z-index: 99;
                    position: absolute;
                }
                a::-webkit-scrollbar {
                    display: none; /* Chrome, Safari, Opera*/
                }
               
            }

            div:nth-child(1) a:hover::before{
                content: 'Back';
                top: 30px;
                right: 20px;
                width: 100%;
            }
            div:nth-child(1) a:hover::after{
             
                top: 20px;
                left: 20px;
            }



            div:nth-child(2) a:hover::before{
                content: 'Home';
            }
            div:nth-child(3) a:hover::before{
                content: 'About Me';
            }
            div:nth-child(4) a:hover::before{
                content: 'Projects';
            }
            div:nth-child(5) a:hover::before{
                content: 'Contact';
            }
           

            div::-webkit-scrollbar {
                display: none; /* Chrome, Safari, Opera*/
            }


        }


        .return--projects{
            display: none;
            position: absolute;
            top: 50px;
            left: 22px;
            z-index: 99;
            width: 50px  !important;
            height: 120px !important;
        }




}
