@import '_variables';

#noorida-component{

    .noorida-func{
        .noorida-func--flex{
            display: flex;
            flex-direction: row;
            span:nth-of-type(2){
                display: flex;
                flex-direction: column;
            }
        }
        .noorida-func--title{
            font-weight: bold;
            // display: flex; 
        }
    }
}