@import '_variables';

body{
    background-color: white;
}

h1{
    // font-size: 25px;
}

p{
    font-size: 20px;
}

span{
    font-size: 20px;
}
// strong{
//     color: black;
// }

#project-component{
    .goToLinks{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .goGithub,.goPage{
        display: flex;
        margin: 50px 0px;
        button{
            width: 150px;
            height: 150px;
            font-size: 15px;
            border-radius: 100px;
            margin-right: 20px;
            background-color: transparent;
            border: 1px solid black;
            a{
                text-decoration: none;
                color: black;
            }
        }
    
        button:hover{
            background-color: black;
            border: 1px solid white;
            transition-duration: 0.3s;
            a{
                color: white;
            }
        }
    }
    
}


@media (max-width: 1000px){
    h1{
        font-size: 26px;
    }
    p{
        font-size: 18px;
    }
}
@media (max-width: 740px){

}
@media (max-width: 450px){
    h1{
        font-size: 20px;
    }
    p{
        // font-size: 18px;
    }
    span{
        font-size: 16px;
    }

        
    #project-component{
        .goGithub,.goPage{
            button{
                width: 120px;
                height: 120px;
                font-size: 12px;
            }
        }
    }

}