@import '_variables';

#project-component{
    margin: 0px 50px 0px 150px;
    //    width: 100%;
    //    height: 100%;
    h1{
        margin: 30px;

    }
    p{
        font-size: 25px;
        margin: 5px 10px;
        line-height: 40px;
    }
    hr{
        margin-top: 80px;
    }
    strong{
        color: red;
    }
    img{
        width: 100%;
        margin: 10px 5px;
        border: 1px solid black;
    }
    .gray-color{
        color: gray;
        font-size: 24px;
        margin-left: 50px;
    }
        .pet--login{
            @include flex-row;
            div{
                @include flex-col;
                img{
                    margin-bottom: 40px;
                }
            }
        }
        .pet--register{
            @include flex-row;
            p{
                margin-left: 30px;
            }
        }
        .pet--homeQA{
            @include flex-row;
            div{
                @include flex-col;
            }
        }
        .pet--create{
            @include flex-col;
            margin-bottom: 30px;
            div:first-child{
                @include flex-row;
            }
            div:last-child{
                border: 1px solid rgb(204, 204, 204);
                border-radius: 20px;
                margin: auto;
                padding: 25px;
                width: 90%;
                p{
                    font-size: 23px;
                }
                
            }
        }
        .pet--create-comment{
            @include flex-col;
            div{
                @include flex-row;
            }
        }
        .pet--detail-comment{
            @include flex-row;
            img{ width: 60%}
        }
        .pet--modify{
            // @include flex-row;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto ;
            grid-gap: 20px;
            margin: 50;
            justify-items: center;
            text-align: center;

            span{
                font-size: 25px;
                color: $main-color-gray;
                font-weight: bold;
                // text-align: center;
            }

            .pet--modify--item5{
                grid-row: 2 /4 ;
                grid-column: 2;
                // width: 100%;
                // grid-area: auto;
               
                img{
                    // margin-top:100px;
                }
            }
            .pet--modify--item6{
                grid-row: 2 / 4 ;
                grid-column: 3;
            }

     
            .pet--modify--item8{
                grid-column: 1 / -1;
                text-align: start;
               
                p:nth-child(1),
                p:nth-child(3){
                    font-weight: bold;
                }
            }

        }
        .pet--delete{
            div{
                @include flex-row;
            }

        }

        .pet--menu{
            @include flex-col;
            div{
                height: 880px;
                position: relative;
                img{
                    width: 80%;
                }
                img:nth-child(2){
                    position: absolute;
                    width: 80%;
                    top: 203px;
                    right: 0;
                }
            }
        }
        .pet--change{
            @include flex-col;
            div{
                @include flex-row;
            }
        }
        .pet--myWrite{
            @include flex-col;
            div{
                height: 1230px;
                position: relative;
                img{
                    width: 70%;
                }
                img:nth-child(2){
                    position: absolute;
                    width: 70%;
                    top: 433px;
                    right: 0;
                }
            }
        }
        .pet--myLike{
            @include flex-row;
            margin: 50px;
        }

        .goGithub{
            @include goGithub;
        }
    }