@import '_variables';

#starbucks-component{
    display: flex;
    flex-direction: column;
    
    img{
        width: 80%;
        margin-bottom: 30px;
    }
}



/************************************************************/

@media (max-width: 1000px){
    #starbucks-component{
        margin-top: 30px;
        align-items: center;
        img{
            width: 90%;
        }
    }
}
@media (max-width: 740px){
    #starbucks-component{
        img{
         
        }
    }
   
}

@media (max-width: 450px){
 
}